@charset "utf-8";
#titulo{
 background-color: #ff4c68;
}
h1 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
 font-size: 3.5rem;
 line-heiight: 1.5;
}

body {
    background-color: #ff4c68;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}